<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'style.css')}}">

    <title>Cathedral</title>

</head>
<body>
    <!--
        the container will be graphed using css graphs.
        *more detailed notes in css file*
    -->
    <div class = "container">
        <!--will be the title / header for the website-->
        <div class = "header"><h1>Cathedral</h1></div>

        <!--will be Player one's inventory-->
        <div class = "playerOne" id = "playerOne">
            <h3>Player One</h3>
        </div>

        <!--will be the board of the game and will display pieces played-->
        <div class = "board" id = "board">
            
            
            
        </div>

        <!--will be Player Two's inventory-->
        <div class = "playerTwo" id = "playerTwo">
            <h3>Player Two</h3>
        </div>

        <!--will display info about how to play the game and credits to the creator of the game-->
        <div class = "info">Info</div>
    </div>
    <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>