<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'style.css')}}">

    <title>Cathedral</title>

</head>
<body>
    

    <label for = "Piece"> Select a Piece</label>
    <select id = "Piece">
        <option disabled hidden selected> Select </option>
        <option value = "tavern-1">tavern-1</option>
        <option value = "tavern-2">tavern-2</option>
        <option value = "stable-1">stable-1</option>
        <option value = "stable-2">stable-2</option>
        <option value = "inn-1">inn-1</option>
        <option value = "inn-2">inn-2</option>
        <option value = "bridge">bridge</option>
        <option value = "square">square</option>
        <option value = "abbey-dark">abbey-dark</option>
        <option value = "abbey-light">abbey-light</option>
        <option value = "manor">manor</option>
        <option value = "tower">tower</option>
        <option value = "infirmary">infirmary</option>
        <option value = "castle">castle</option>
        <option value = "academy-dark">academy-dark</option>
        <option value = "academy-light">academy-light</option>
        <option value = "cathedral">cathedral</option>
    </select>

    <label for = "rotation">Rotation value</label>
    <select id = "rotation">
        <option disabled hidden selected> Select </option>
        <option value = "0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
    </select>


    <button onclick = "onClick()"> play </button>
    <table class = "table" id = "table">

    </table>
    <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>