<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'style.css')}}">

    <title>Cathedral</title>

</head>
<body>
    <!--
        the container will be graphed using css graphs.
        *more detailed notes in css file*
    -->
    <div class = "container">
        <!--will be the title / header for the website-->
        <div class = "header"><h1>Cathedral</h1></div>

        <!--will be Player one's inventory-->
        <div class = "playerOne" id = "playerOne">
            <h3>Player One</h3>
        </div>

        <!--will be the board of the game and will display pieces played-->
        <div class = "board" id = "board">
            
            
            
        </div>

        <!--will be Player Two's inventory-->
        <div class = "playerTwo" id = "playerTwo">
            <h3>Player Two</h3>
        </div>

        <!--will display info about how to play the game and credits to the creator of the game-->
        <div class = "info">Info</div>
        <p>CATHEDRAL is a two player board game based around a battle for supremacy between two political factions (dark and light) within the walls of a Mediaeval City. For centuries man has struggled with man for territorial space and when the struggle was won, played games to pass away the interlude.CATHEDRAL represents one of these struggles.

            The city is represented by a 10x10 grid square area surrounded by, parapets (walls) and towers in the style of an ancient defended city. The occupants farm and work outside the city and at night, or during a threat, they retreated to the safety of the city walls. The city is cramped and peasants and lords alike squabble amongst each other to find room in the city. Having carved out a space they are not satisfied and continue to take up residence in other unclaimed space available, and so the battle continues.
            
            cathedral_cream_90px.gif (4048 bytes)
            
            The game begins when a player places the Cathedral anywhere in the city, but aligned with the squares. Your objective in CATHEDRAL is to occupy as much space as possible, by then taking turns placing your buildings into the city and preventing your opponent from succeeding by carving off pieces of land called DEDICATING SPACE. A space once surrounded completely by your buildings cannot be occupied by your opponent, the wall may also form part of your capture. The more space you hold the less chance your opponent has to fit their buildings in the city, especially the larger odd shaped pieces.
            
            The winner is the player who places all or most of their buildings within the city. If neither player fully succeeds in doing this, then the winner is determined by counting up the number of squares the remaining pieces would cover and the lowest score wins. An even number of games makes for a fair match.
            
            Cathedral takes a short time to learn but a lifetime to master. Each game is limited to 20 moves per player and takes about 20-30 minutes. Playing a set of games over a period of time is the best way to get maximum fun and enjoyment.
            
            Cathedral is Copyright Chrisbo I.P. Holdings Limited</p>
    </div>
    <script src = "static/script.js"></script>
</body>
</html>